.program_detailcontent {
    .demand-profimg {
        width: 25px;
    }
    .demand-section--3 p {
        width: 80% !important;
    }
    .line-bar .progress {
        height: 30px;
        border-radius: 50px;
        background-color: #ffffff;
        border: 2px solid #ff6633;
    }
    .progress-bar {
        background-color: #ff6633;
    }
}
.demand-section--3 .left-image {
    width: 40px !important;
    max-width: 40px !important;
}
.programmes a {
    text-decoration: none !important;
}

@media #{$information-large} {
    .detailpage-width {
        flex: 0 0 80% !important;
        max-width: 80%;
        margin: 0 auto;
    }
}
@media #{$information-desktop} {
}
@media #{$information-tablet} {
}
@media #{$information-phone} {
}
.card-body.swipercard {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
